@import "reset";
@import "variables";

body {
  background-color: $bg-color;
  overflow-x: hidden;
}

.main-game {
  height: 100vh;
  width: 100vw;

  padding: 0 10%;
  margin: 5% 0;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  h1 {
    margin-bottom: 5%;
  }
}

.alert {
  height: 10%;
  width: 100%;

  padding: 5%;
  margin-bottom: 5%;

  border-radius: 5px;

  background-color: $bg-color-info;

  display: flex;
  align-items: center;

  p {
    width: 70%;
    text-align: center;
  }

  button {
    width: 20%;
    margin-left: auto;
  }
}

.genius {
  width: 100%;
  height: calc(100vw - 10%);

  display: grid;
  grid-template-areas: "green red" "yellow blue";
  grid-gap: 2%;

  border: 1px solid $white;
  border-radius: 100%;

  background-color: $white;
}

@mixin botao($color, $grid-area, $border-area) {
  grid-area: $grid-area;
  background-color: $color;
  #{$border-area}: 100%;
}

.blue {
  @include botao($blue, blue, border-bottom-right-radius);
}

.red {
  @include botao($red, red, border-top-right-radius);
}

.green {
  @include botao($green, green, border-top-left-radius);
}

.yellow {
  @include botao($yellow, yellow, border-bottom-left-radius);
}

.selected {
  opacity: 50%;
}

@media (max-width: 650px) {
  .main-game {
    justify-content: space-evenly;
  }

  // .genius {
  //   width: calc(90vw - 10%);
  //   height: calc(90vw - 10%);
  // }
}
